<div class="c-modal is-quick-buy js-quick-buy-modal" id="quick-buy">
  <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg" data-modal="close" class="c-modal__close">
    <rect width="42" height="42" rx="21" fill="white"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8543 15.1474C15.659 14.9522 15.3424 14.9522 15.1472 15.1474C14.9519 15.3427 14.9519 15.6593 15.1472 15.8545L20.2928 21.0002L15.1476 26.1454C14.9523 26.3406 14.9523 26.6572 15.1476 26.8525C15.3429 27.0477 15.6594 27.0477 15.8547 26.8525L20.9999 21.7073L26.1451 26.8525C26.3404 27.0477 26.657 27.0477 26.8522 26.8525C27.0475 26.6572 27.0475 26.3406 26.8522 26.1454L21.707 21.0002L26.8526 15.8545C27.0479 15.6593 27.0479 15.3427 26.8526 15.1474C26.6574 14.9522 26.3408 14.9522 26.1455 15.1474L20.9999 20.293L15.8543 15.1474Z" fill="black"/>
  </svg>


  <form class="c-form js-quick-buy-form" name="quick-buy" method="POST">
    <div class="c-modal__left">
      <div class="c-modal__title">{{options.modal_order.title}}</div>
      <p class="c-modal__text">{{options.modal_order.text}}</p>
      <p class="c-inform">
        <svg width="24" height="30" viewBox="0 0 24 30" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0_2006_3202)">
            <path d="M0.258946 11.4421C-0.0656066 10.8527 -0.0637306 10.2492 0.146384 9.63342C0.44092 8.76602 1.02249 8.07279 1.67347 7.42707C2.75031 6.36085 3.99974 5.4952 5.35798 4.77383C6.02585 4.41842 6.5774 3.96448 7.06704 3.40849C7.60922 2.79269 8.19078 2.19623 8.81925 1.65608C10.2694 0.408632 11.9072 0.19222 13.6707 1.035C14.2729 1.32355 14.8638 1.63497 15.436 1.97102C17.0925 2.94224 18.7491 3.9117 20.3793 4.91986C21.3661 5.53039 22.2516 6.26232 22.9457 7.17371C23.6173 8.0552 24.0826 9.00882 23.9869 10.1313C23.9813 10.1894 23.9682 10.2492 23.9569 10.3073C23.9194 10.2985 23.8856 10.2967 23.8837 10.2915C23.7918 9.61231 23.2928 9.2745 22.6662 9.1179C21.64 8.86279 20.6063 8.60415 19.5576 8.45987C18.2763 8.28393 16.9781 8.19419 15.6836 8.12382C14.6387 8.06751 13.6031 8.21179 12.5826 8.44052C12.0122 8.56896 11.7534 8.41237 11.6427 7.86166C11.4982 7.13677 11.365 6.40835 11.1981 5.67994C11.1493 6.32038 11.0892 6.96082 11.0517 7.60302C11.0161 8.23818 10.9129 8.35079 10.2525 8.37366C7.41974 8.46691 4.65823 8.91733 1.98301 9.80937C1.69223 9.90614 1.4127 10.0399 1.14443 10.1841C0.525342 10.5167 0.341491 10.7999 0.25707 11.4439L0.258946 11.4421Z" fill="#666666"/>
            <path d="M11.6915 9.13838C12.1211 9.10319 12.5263 9.068 13.0028 9.0293C13.0572 9.57649 13.1379 10.1888 13.1773 10.8046C13.3311 13.2185 12.9053 15.5727 12.3537 17.9163C12.0198 19.3379 11.7121 20.7683 11.7196 22.2357C11.7252 23.7453 12.2149 25.0632 13.3761 26.1593C13.8245 26.5816 14.1472 27.12 14.5224 27.6073C14.7475 27.9011 14.6875 28.1862 14.4961 28.4765C13.8076 29.5234 12.213 29.7943 11.063 29.0448C10.3107 28.5557 9.80794 27.8712 9.43649 27.1041C8.64293 25.4696 8.55663 23.77 8.93747 22.0334C9.25639 20.5783 9.88861 19.2235 10.5171 17.8723C11.5376 15.6712 11.8547 13.3575 11.804 10.984C11.7909 10.3436 11.729 9.70317 11.6934 9.14014L11.6915 9.13838Z" fill="#666666"/>
            <path d="M7.92441 9.6696C6.24912 10.8625 4.48566 11.883 2.24944 11.8636C2.50833 11.9023 2.76534 11.9639 3.02423 11.9745C4.20238 12.0255 5.31674 11.7616 6.37482 11.3041C7.04643 11.0138 7.68428 10.6531 8.33902 10.3241C8.4028 10.2924 8.46846 10.2608 8.54538 10.2608C6.81193 11.6859 4.80458 12.4847 2.44642 12.5674C3.45384 12.9527 4.4275 12.8771 5.40866 12.629C6.85696 12.263 8.06699 11.5047 9.19824 10.6162C9.33331 10.5106 9.46838 10.4015 9.62222 10.2801C9.37083 11.2689 6.97139 13.1111 5.36739 13.5703C5.88705 13.5756 6.77629 13.2712 7.49105 12.8401C8.8174 12.0396 9.78543 10.9505 10.4195 9.60098C10.5283 9.36697 10.6371 9.19279 10.9973 9.30187C10.3839 11.2689 9.0369 12.768 7.4798 14.1421C8.28836 13.7075 9.01814 13.1744 9.59033 12.4918C10.1588 11.8144 10.6484 11.0772 11.2075 10.3206C10.9223 11.5557 10.3182 12.6149 9.62409 13.6372C9.65786 13.6583 9.69163 13.6776 9.7254 13.6987C10.2319 13.0161 10.7366 12.3334 11.2394 11.656C11.2075 12.3721 10.9354 13.0601 10.6859 13.7586L11.1756 13.0002L11.2262 13.0213C11.1624 13.5351 11.1099 14.0506 11.0274 14.5609C11.0142 14.6418 10.866 14.772 10.7929 14.765C9.20386 14.6207 7.60549 14.5257 6.0315 14.2846C4.31119 14.0225 2.73157 13.3908 1.42023 12.2665C1.22513 12.0994 1.0394 11.9111 0.896821 11.7053C0.816152 11.5909 0.786136 11.4079 0.814276 11.2725C0.887441 10.9241 0.988746 10.8836 1.35457 10.9646C2.59275 11.2408 3.81404 11.0947 4.99594 10.7411C5.91894 10.4649 6.80818 10.0848 7.71242 9.75053C7.78184 9.72414 7.84937 9.69599 7.91879 9.66784L7.92441 9.6696Z" fill="#666666"/>
            <path d="M13.5374 14.8384C13.6049 14.0695 13.6649 13.3763 13.7287 12.6338C13.9745 13.1757 14.1996 13.6737 14.4247 14.1716C14.4397 14.1663 14.4547 14.1593 14.4698 14.154C14.3253 13.6139 14.1658 13.0772 14.0401 12.5335C13.9126 11.9776 13.8206 11.4145 13.7137 10.855C13.74 10.8498 13.7662 10.8462 13.7944 10.841C14.0214 11.3987 14.2428 11.9582 14.4791 12.5124C14.7211 13.079 15.0795 13.5787 15.5391 14.0185C14.7793 12.9629 14.5016 11.7488 14.1846 10.5419C14.9012 11.9441 15.7323 13.2338 17.4564 13.7194C15.9331 12.9488 15.1095 11.6661 14.511 10.2111C15.828 11.7119 17.1844 13.1423 19.5069 13.1124C17.5783 12.4561 16.1113 11.2703 14.9819 9.68676C16.5446 10.9483 18.1599 12.0937 20.3699 12.0761C18.0999 11.7875 16.479 10.4398 14.8243 9.15189L14.8731 9.06919C14.9875 9.14133 15.1038 9.21523 15.2183 9.28737C15.3477 9.3683 15.4791 9.44572 15.6066 9.52841C16.9349 10.3694 18.3494 11.0204 19.9477 11.2615C20.837 11.3952 21.7206 11.4005 22.5611 11.0345C22.7487 10.9536 22.9175 10.8374 23.0695 10.6861C22.7974 10.7442 22.5273 10.8163 22.2534 10.8568C20.8182 11.0679 19.4694 10.7231 18.1749 10.204C17.2331 9.82752 16.3383 9.34367 15.4228 8.90908C15.4415 8.8739 15.4603 8.83695 15.4791 8.80176C15.9875 9.02345 16.4921 9.24866 17.0024 9.46507C18.2743 10.007 19.5969 10.3413 21.004 10.2164C21.4936 10.1724 21.9832 10.0492 22.4522 9.90669C22.9231 9.76242 23.394 10.0052 23.3659 10.482C23.349 10.7565 23.2589 11.0838 23.0732 11.2808C22.7093 11.6644 22.2984 12.0409 21.8313 12.2995C19.9252 13.3517 17.8579 14.0344 15.7042 14.483C15.0044 14.6291 14.2897 14.7153 13.5317 14.8367L13.5374 14.8384Z" fill="#666666"/>
            <path d="M16.7285 8.72852C18.6927 9.05753 20.5856 9.37247 22.5573 9.70325C22.1146 9.92318 21.5086 10.0182 20.9421 9.97597C19.4881 9.86864 18.1374 9.41646 16.8186 8.86399C16.8036 8.85696 16.7961 8.83408 16.7285 8.73028V8.72852Z" fill="#666666"/>
            <path d="M1.38257 10.7504C3.02034 10.1486 4.74441 9.85834 6.52288 9.50293C5.95444 9.9815 2.4838 10.8278 1.38257 10.7504Z" fill="#666666"/>
          </g>
          <defs>
            <clipPath id="clip0_2006_3202">
              <rect width="24" height="28.9412" fill="white" transform="translate(0 0.529297)"/>
            </clipPath>
          </defs>
        </svg>

        {{options.modal_order.inform}}
      </p>
      <div class="row">
        <div class="col-sm-6 col-12 u-col">
          <div class="c-input js-input-block">
            <label for="client_name">{{ 'Name' | translateString('input - Name') }}</label>
            <input type="text" required id="client_name" name="name">
          </div>
        </div>
        <div class="col-sm-6 col-12 u-col">
          <div class="c-input js-input-block">
            <input type="tel" required id="phone" name="phone">
          </div>
        </div>

        <div class="col-sm-12 col-12 u-col">
          <div class="c-input js-input-block">
            <label for="client_email">Email</label>
            <input type="email" required id="client_email" name="email">
          </div>
        </div>

        <div class="col-12">
          <div class="c-input js-input-block is-client-contact">
            <select name="contacts_client_messenger" id="">
              <option value="telegram" selected data-icon="{{theme.link}}/src/img/icons8-telegram-logo.svg">Telegram</option>
              <option value="facebook" data-icon="{{theme.link}}/src/img/icons8-facebook.svg">Facebook</option>
              <option value="viber" data-icon="{{theme.link}}/src/img/icons8-viber-logo.svg">Viber</option>
              <option value="whatsapp" data-icon="{{theme.link}}/src/img/icons8-whatsapp.svg">WhatsApp</option>
              <option value="discord" data-icon="{{theme.link}}/src/img/icons8-discord-logo.svg">Discord</option>
              <option value="instagram" data-icon="{{theme.link}}/src/img/icons8-instagram-logo.svg">Instagram</option>
            </select>
            <label for="contactInfo">{{ '@your_nickname' | translateString('input - Contacts') }}</label>
            <input type="text" required id="contactInfo" name="contactInfo">
          </div>
        </div>
      </div>
      <input type="hidden" name="action" value="contactForm">
    </div>

    <div class="c-modal__right">
      {% set button_text = "Proceed the form" | translateString("button - Proceed the form") %}
      {% include 'templates/woo/mini-cart.twig' with {
          'minicart': minicart,
          'buttons': '<button type="submit" name="quick-buy-submit" class="u-btn is-black is-medium js-quick-buy">' ~ button_text ~ '</button>'
      } %}
    </div>
  </form>    
</div>