<div class="l-mini-cart js-cart-container">
	{% if cart_title %}
		<p class="u-h3">{{ cart_title }}</p>
	{% endif %}

	{% if count_label %}
		<span class="l-mini-cart__count">
			<span class="js-mini-cart-counter">{{ minicart.count }}</span> 
			{{ count_label }}
		</span>
	{% endif %}
	
	{% include 'templates/woo/mini-cart-list.twig' with {'cart_products': minicart.cart_products} %}

	<div class="js-cart-info {% if not minicart.cart_products|length %} is-hide {% endif %}">
		<div class="l-mini-cart__total">
			<span>{{ 'Order amount' | translateString('Cart - Order amount') }}</span>
			<span class="js-cart-total is-bold">{{minicart.total}}</span>
		</div>

		<div class="l-mini-cart__btn">
			{% if buttons is not defined %}
				<button type="button" class="u-btn is-black" data-modal="#quick-buy">
					<span>{{ 'Place an order' | translateString('Button - Place an order') }}</span>
				</button>
				{# <a href="{{ function('wc_get_cart_url') }}" class="is-cart">{{ 'Go to cart' | translateString('Cart - Go to cart') }}</a> #}
			{% else %}
				{{ buttons|raw }}
			{% endif %}
		</div>
	</div>	
	
	<p class="js-cart-empty {% if minicart.cart_products %} is-hide {% endif %}">{{ 'Cart is empty' | translateString('Cart - Cart is empty') }}</p>

	{% include 'templates/partial/loader.twig' %}
</div>