{% if is_mobile == true %}
  {% set imgPlaceholder = 'data:image/gif;base64,R0lGODlhBAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAEAAUAAAIEjI+ZBQA7' %}
{% else %}
  {% set imgPlaceholder = 'data:image/gif;base64,R0lGODlhBwAJAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAkAAAIHjI+py+1cAAA7' %}
{% endif %}

{% if video == true %}
  <div class="{{ class ? class : '' }}">
    <a href="{{thumb}}" class="js-lightbox">
      <picture>
        <source
          data-srcset="{{thumb_xl}}"
          media="(min-width: 426px)"
        >
        <source
          data-srcset="{{thumb_md}}"
          media="(max-width: 425px)"
        >
        <img 
          src="{{imgPlaceholder}}"
          alt="{{post.post_title|replace({'"':'\''})|raw}}" 
          title="{{post.post_title|replace({'"':'\''})|raw}}" 
          width="550"
          height="560"
          class="lazy"
        >
      </picture>
    </a>
  </div>
{% endif %}
{% if images %}
  {% for image in images %}
    <div class="{{ class ? class : '' }}">
      <a href="{{image.full[0]}}" class="js-lightbox">
        <picture class="js-lazy-load">
          <source
            data-srcset="{{image.single_xl[0]}}"
            media="(min-width: 426px)"
          >
          <source
            data-srcset="{{image.archive_xl[0]}}"
            media="(max-width: 425px)"
          >
          <img
            src="{{imgPlaceholder}}"
            alt="{{ post.post_title|replace({'"':'\''})|raw }}"
            width="550"
            height="560"
            class="lazy"
          >
        </picture>
      </a>
    </div>
  {% endfor %}
{% endif %}
