{% if is_mobile == true %}
  {% set imgSrc = thumb_md %}
{% else %}
  {% set imgSrc = thumb_xl %}
{% endif %}

<div class="{{ class ? class : '' }}">
  {% if data.is_sale %}
    <span class="l-product__sale is-red">-{{percent|round}}%</span>
  {% endif %}
  {% if video %}
    <a href="{{video}}" class="js-lightbox">
      <video class="lazy" src="{{video}}" muted playsinline autoplay loop width="550" poster="{{thumb|resize(550, height, center)|tojpg}}"></video>
    </a>  
  {% else %}
    <a href="{{thumb_xl.url}}" class="js-lightbox">
      <picture>
        {# WebP для десктопов #}
        <source srcset="{{ thumb_xl.webp }}" media="(min-width: 520px)" type="image/webp">
        <source srcset="{{ thumb_xl.url }}" media="(min-width: 520px)" type="image/jpeg">
        
        {# WebP для мобильных #}
        <source srcset="{{ thumb_md.webp }}" media="(max-width: 519px)" type="image/webp">
        <source srcset="{{ thumb_md.url }}" media="(max-width: 519px)" type="image/jpeg">

        <img
          src="{{ imgSrc.url }}"
          alt="{{ post.post_title|replace({'"':'\''})|raw }}"
          title="{{ post.post_title|replace({'"':'\''})|raw }}"
          width="{{ imgSrc.width }}"
          height="{{ imgSrc.height }}"
        >
      </picture>
    </a>
  {% endif %}
</div>