{% if is_mobile == true %}
  {% set imgPlaceholder = 'data:image/gif;base64,R0lGODlhBAAFAIAAAP///wAAACH5BAEAAAEALAAAAAAEAAUAAAIEjI+ZBQA7' %}
  {% set imgSrc = thumb_md %}
{% else %}
  {% set imgPlaceholder = 'data:image/gif;base64,R0lGODlhBwAJAIAAAP///wAAACH5BAEAAAEALAAAAAAHAAkAAAIHjI+py+1cAAA7' %}
  {% set imgSrc = thumb_xl %}
{% endif %}


{% if video == true %}
  <div class="{{ class ? class : '' }}">
    <a href="{{thumb_xl.url}}" class="js-lightbox">
      <picture>
        {# WebP для десктопов #}
        <source data-srcset="{{ thumb_xl.webp }}" media="(min-width: 520px)" type="image/webp">
        <source data-srcset="{{ thumb_xl.url }}" media="(min-width: 520px)" type="image/jpeg">
        
        {# WebP для мобильных #}
        <source data-srcset="{{ thumb_md.webp }}" media="(max-width: 519px)" type="image/webp">
        <source data-srcset="{{ thumb_md.url }}" media="(max-width: 519px)" type="image/jpeg">

        <img
          src="{{ imgPlaceholder }}"
          alt="{{ post.post_title|replace({'"':'\''})|raw }}"
          title="{{ post.post_title|replace({'"':'\''})|raw }}"
          width="{{ imgSrc.width }}"
          height="{{ imgSrc.height }}"
          class="lazy"
        >
      </picture>
    </a>
  </div>
{% endif %}
{% if images %}
  {% for image in images %}
    {% if is_mobile %}
      {% set imgSrc = image.thumbnail_md %}
    {% else %}
      {% set imgSrc = image.thumbnail_xl %}
    {% endif %}

    <div class="{{ class ? class : '' }}">
      <a href="{{image.thumbnail_xl.url}}" class="js-lightbox">
        <picture class="js-lazy-load">

          <source data-srcset="{{ image.thumbnail_xl.webp }}" media="(min-width: 520px)" type="image/webp">
          <source data-srcset="{{ image.thumbnail_xl.url }}" media="(min-width: 520px)" type="image/jpeg">
          
          {# WebP для мобильных #}
          <source data-srcset="{{ image.thumbnail_md.webp }}" media="(max-width: 519px)" type="image/webp">
          <source data-srcset="{{ image.thumbnail_md.url }}" media="(max-width: 519px)" type="image/jpeg">

          <img
            data-src="{{imgPlaceholder}}"
            alt="{{ post.post_title|replace({'"':'\''})|raw }}"
            width="{{ imgSrc.width }}"
            height="{{ imgSrc.height }}"
            class="lazy"
          >
        </picture>
      </a>
    </div>
  {% endfor %}
{% endif %}
