{% extends "base.twig" %}

{% block content %}
	<main class="p-single p-author">
		<div
			class="u-container">
			{{ breadcrumbs }}
			<div class="p-single__flex">
				<div class="p-single__box">
					<div class="row">
						<div class="col-lg-4 col-md-4 u-col">
							<img src="{{user_photo}}"/>
						</div>
						<div class="col-lg-8 col-md-8 u-col">
							<h1 class="u-h1">{{ author_name ~ ' ' ~ author_surname }}</h1>
							<div class="p-single__content">
								{{ user_description }}
							</div>
						</div>
					</div>

					<div class="p-single__bottom">
						{% if post.terms('tags') %}
							<ul class="c-tags">
								<li class="c-tags__title">Tags:
								</li>
								{% for term in post.terms('tags') %}
									<li class="c-tags__item">
										<a href="{{term.link}}">{{term.name}}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}

						{% include 'templates/partial/social.twig' with {'share': true} %}
					</div>
				</div>
				{% include 'templates/partial/sidebar.twig' 
          with {
            'category': product_categories, 
            'pages': pages
          } 
        %}
			</div>
		</div>

		<section class="l-our-blog">
			<div class="u-container">
				{% include 'templates/partial/section-title.twig' 
			 		with {
			 			'italic': true,
			 			'title': 'Related <span class="is-yellow">posts</span>',
						'subtitle': 'by ' ~ author_name ~ ' ' ~ author_surname 
		 			} 
	 			%}
					<div class="l-our-blog__content">
						<div class="l-our-blog__content-posts">
							{% if posts|length > 1 %}
								<div class="row">
									{% for post in posts %}
										<div class="col-lg-4 col-md-6 col-sm-6 u-col">
											{% include 'templates/partial/post.twig' 
												with {
													'data': post,
													'show_category': true,
													'excerpt': true,
													'info': true,
													'readMore': false,
													'likes': 'top'
												} 
											%}
										</div>
									{% endfor %}
								</div>
							{% else %}
								<div class="l-content__nofound">
									<h2>{{ 'Posts not found' | translateString('Archive - Posts not found') }}</h2>
								</div>
							{% endif %}
						</div>
					</div>
				{% include 'partial/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 2, end_size: 1}) } %}
			</div>
		</section>
	</main>
{% endblock %}