<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}"/>
  
  <meta name="google-site-verification" content="XL-5KG2Utf8O_H9vs9rjdjhhCYBebIe7zfCrc6fxoEc" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {# <meta name="facebook-domain-verification" content="bcood6oyplq0u82b04m3vmmcoc552c" /> #}

  <link rel="preload" href="{{ site.theme.link }}/src/fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-Medium.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-Regular.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-SemiBold.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/star/star.woff2" as="font" type="font/woff" crossorigin="anonymous"/>

  {# <link rel="preload" href="{{ site.theme.link }}/dist/css/main.css" as="style" onload="this.onload=null;"/> #}
  <link rel="stylesheet preload" as="style" href="{{ site.theme.link }}/dist/css/main.css" type="text/css" crossorigin="anonymous" />

  {% if function('is_front_page') %}
    <link rel="preload" as="image" href="{{ site.theme.link }}/dist/images/hero-bg.jpg" media="(min-width: 992px)" type="image/jpeg" />
    <link rel="preload" as="image" href="{{ site.theme.link }}/dist/images/hero-bg-tablet.jpg" media="(min-width: 577px) and (max-width: 991px)" type="image/jpeg" />
    <link rel="preload" as="image" href="{{ site.theme.link }}/dist/images/hero-bg-mobile.jpg" media="(max-width: 576px)" type="image/jpeg" />
  {% endif %}

  {# Preload для десктопов (min-width: 520px) #}
  {% if data is defined and data.thumbnail_xl is defined %}
    {% if data.thumbnail_xl.webp %}
      <link rel="preload" href="{{ data.thumbnail_xl.webp }}" as="image" type="image/webp" media="(min-width: 520px)">
    {% else %}
      <link rel="preload" href="{{ data.thumbnail_xl.url }}" as="image" type="image/jpeg" media="(min-width: 520px)">
    {% endif %}
  {% endif %}

  {# Preload для мобильных (max-width: 519px) #}
  {% if data is defined and data.thumbnail_md is defined %}
    {% if data.thumbnail_md.webp %}
      <link rel="preload" href="{{ data.thumbnail_md.webp }}" as="image" type="image/webp" media="(max-width: 519px)">
    {% else %}
      <link rel="preload" href="{{ data.thumbnail_md.url }}" as="image" type="image/jpeg" media="(max-width: 519px)">
    {% endif %}
  {% endif %}

  <style>
    @font-face {
      font-family: 'star';
      font-display: swap;
      src: url('{{theme.link}}/src/fonts/star/star.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Playfair Display';
      font-display: swap;
      src: url('{{theme.link}}/src/fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff') format('woff');
      font-weight: 500;
      font-style: italic;
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 400;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 500;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-Medium.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 600;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-SemiBold.ttf') format('truetype');
    }
  </style>

  {{ function('wp_head') }}

</head>
<body class="{{body_class}}" data-template="base.twig" data-language="{{ current_lang }}">
  {% include 'templates/partial/icons.twig' %}
  {% include 'templates/header.twig' %}
  
  <div class="wrapper">

    {% block content %}

    {% endblock %}
    {% include 'templates/footer.twig' %}
  </div>

  {% include 'templates/partial/modals.twig' %}

  {{ function('wp_footer') }}
</body>
</html>