<!doctype html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}"/>
  
  <meta name="google-site-verification" content="XL-5KG2Utf8O_H9vs9rjdjhhCYBebIe7zfCrc6fxoEc" />
  {# <meta name="facebook-domain-verification" content="bcood6oyplq0u82b04m3vmmcoc552c" /> #}

  <link rel="preload" href="{{ site.theme.link }}/src/fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-Medium.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-Regular.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/Golos/GolosText-SemiBold.ttf" as="font" type="font/woff" crossorigin="anonymous"/>
  <link rel="preload" href="{{ site.theme.link }}/src/fonts/star/star.woff2" as="font" type="font/woff" crossorigin="anonymous"/>

  <style>
    @font-face {
      font-family: 'star';
      font-display: swap;
      src: url('{{theme.link}}/src/fonts/star/star.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'Playfair Display';
      src: url('{{theme.link}}/src/fonts/playfairDisplay/PlayfairDisplay-MediumItalic.woff') format('woff');
      font-weight: 500;
      font-style: italic;
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 400;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-Regular.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 500;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-Medium.ttf') format('truetype');
    }

    @font-face {
      font-family: 'Golos Text';
      font-display: swap;
      font-style: normal;
      font-weight: 600;
      src: url('{{theme.link}}/src/fonts/Golos/GolosText-SemiBold.ttf') format('truetype');
    }
  </style>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{ function('wp_head') }}

</head>
<body class="{{body_class}}" data-template="base.twig" data-language="{{ current_lang }}">

  {% include 'templates/partial/icons.twig' %}
  {% include 'templates/header.twig' %}
  
  <div class="wrapper">

    {% block content %}

    {% endblock %}
    {% include 'templates/footer.twig' %}
  </div>

  {% include 'templates/partial/modals.twig' %}

  {{ function('wp_footer') }}
</body>
</html>