{% set rating = function('get_comment_meta', comment.comment_ID, 'rating', true ) %}
{% set rating = (rating is not empty) ? rating : 5 %}
<div class="c-user" id="comment-{{ comment.comment_ID }}">
  <div class="c-user__info">
    <div class="c-user__info-img">
      <img data-src="{{theme.link}}/src/img/User-Profile-PNG.png" class="lazy" alt="user comment">
    </div>
    <div>
      <span class="c-name">{{ comment.comment_author }}</span>
      <span class="c-time">{{ comment.comment_date|date("m/d/Y") }}</span>
    </div>
  </div>
  <div class="c-user__content">
    {{ comment.comment_content|wpautop }}
  </div>
  <div class="c-user__actions">
    <button class="reply-link" data-comment-id="{{ comment.comment_ID }}">{{ 'Reply' | translateString('Comments - Reply') }}</button>
    <button class="like-btn" data-comment-id="{{ comment.comment_ID }}" data-action="like">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25" viewBox="0 0 25 25"><path fill-rule="evenodd" d="M14.351 0c-.978 0-1.214 1.087-1.418 1.833-.15.533-.296 1.066-.477 1.59-.367 1.055-.916 2.276-1.813 3.436A1.998 1.998 0 0 0 9 6H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h5a2 2 0 0 0 1.883-1.324l.082.026c.262.086.513.182.802.292.17.065.353.135.56.21 1.061.39 2.386.796 4.173.796 1.67 0 4.149-.561 5.394-3.053C23.607 15.523 24 12.294 24 11c0-2.141-1.391-4.514-4-4.514h-1.602c.335-1.234.444-2.524.13-3.647-.223-.805-.67-1.542-1.412-2.067C16.382.252 15.447 0 14.351 0ZM11 18.633c.202.049.398.106.587.168.303.1.635.226.957.349l.471.177c.953.35 2.028.673 3.485.673 1.33 0 2.851-.439 3.606-1.947C21.665 14.935 22 12.017 22 11c0-1.488-.899-2.514-2-2.514h-4.497l.573-1.382c.59-1.425.785-2.797.526-3.729-.122-.438-.336-.755-.643-.972-.226-.16-.548-.299-1.008-.364l-.003.011-.078.286c-.124.454-.29 1.066-.525 1.742-.55 1.58-1.501 3.608-3.345 5.362v9.193ZM4 8h5v12H4V8Z" clip-rule="evenodd"></path></svg> 
      <span class="like-count">{{ comment.meta.like_count|default(0) }}</span>
    </button>
    <button class="dislike-btn" data-comment-id="{{ comment.comment_ID }}" data-action="dislike">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25" viewBox="0 0 25 25"><path fill-rule="evenodd" d="M10.649 25c.978 0 1.214-1.087 1.418-1.833.123-.453.268-.985.477-1.59.367-1.055.916-2.276 1.813-3.436.362.52.963.859 1.643.859h5a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-5a2 2 0 0 0-1.883 1.324 6.61 6.61 0 0 1-.082-.026c-.262-.086-.513-.182-.802-.292-.17-.065-.353-.135-.56-.21C11.613 3.406 10.288 3 8.5 3c-1.67 0-4.149.561-5.394 3.053C1.394 9.477 1 12.706 1 14c0 2.141 1.391 4.514 4 4.514h1.602c-.335 1.234-.444 2.524-.13 3.647.223.805.67 1.542 1.412 2.067.734.52 1.669.772 2.765.772ZM14 6.367a7.392 7.392 0 0 1-.587-.168c-.303-.1-.635-.226-.957-.348l-.471-.178C11.032 5.323 9.957 5 8.5 5c-1.33 0-2.851.439-3.606 1.947C3.335 10.065 3 12.983 3 14c0 1.488.899 2.514 2 2.514h4.497l-.573 1.382c-.59 1.425-.785 2.797-.526 3.729.122.438.336.755.643.972.225.16.548.299 1.008.364l.003-.011.078-.286c.124-.454.29-1.067.525-1.742.55-1.58 1.501-3.608 3.345-5.362V6.367ZM21 17h-5V5h5v12Z" clip-rule="evenodd"></path></svg>
      <span class="dislike-count">{{ comment.meta.dislike_count|default(0) }}</span>
    </button>
  </div>

  {# Если есть ответы (custom_children), выводим их рекурсивно #}
  {% if comment.custom_children is defined and comment.custom_children|length %}
    <div class="c-user__reply">
      {% for child in comment.custom_children %}
        {% include 'comment.twig' with { comment: child } %}
      {% endfor %}
    </div>
  {% endif %}
</div>
{# <div class="c-comments__user" id="comment-{{ comment.comment_ID }}">
  <div class="c-comments__user-content">
    
    <div class="c-comments__name">
      <span class="c-name">{{ comment.comment_author }}</span>
      <span class="c-time">{{ comment.comment_date|date("m/d/Y") }}</span>
    </div>
    <div class="c-comments__text">
      {{ comment.comment_content|wpautop }}
    </div>
    <div class="c-comments__user-actions">
      <button class="reply-link" data-comment-id="{{ comment.comment_ID }}">{{ 'Reply' | translateString('Comments - Reply') }}</button>
      <button class="like-btn" data-comment-id="{{ comment.comment_ID }}" data-action="like">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25" viewBox="0 0 25 25"><path fill-rule="evenodd" d="M14.351 0c-.978 0-1.214 1.087-1.418 1.833-.15.533-.296 1.066-.477 1.59-.367 1.055-.916 2.276-1.813 3.436A1.998 1.998 0 0 0 9 6H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h5a2 2 0 0 0 1.883-1.324l.082.026c.262.086.513.182.802.292.17.065.353.135.56.21 1.061.39 2.386.796 4.173.796 1.67 0 4.149-.561 5.394-3.053C23.607 15.523 24 12.294 24 11c0-2.141-1.391-4.514-4-4.514h-1.602c.335-1.234.444-2.524.13-3.647-.223-.805-.67-1.542-1.412-2.067C16.382.252 15.447 0 14.351 0ZM11 18.633c.202.049.398.106.587.168.303.1.635.226.957.349l.471.177c.953.35 2.028.673 3.485.673 1.33 0 2.851-.439 3.606-1.947C21.665 14.935 22 12.017 22 11c0-1.488-.899-2.514-2-2.514h-4.497l.573-1.382c.59-1.425.785-2.797.526-3.729-.122-.438-.336-.755-.643-.972-.226-.16-.548-.299-1.008-.364l-.003.011-.078.286c-.124.454-.29 1.066-.525 1.742-.55 1.58-1.501 3.608-3.345 5.362v9.193ZM4 8h5v12H4V8Z" clip-rule="evenodd"></path></svg> 
        <span class="like-count">{{ comment.meta.like_count|default(0) }}</span>
      </button>
      <button class="dislike-btn" data-comment-id="{{ comment.comment_ID }}" data-action="dislike">
        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" width="25" height="25" viewBox="0 0 25 25"><path fill-rule="evenodd" d="M10.649 25c.978 0 1.214-1.087 1.418-1.833.123-.453.268-.985.477-1.59.367-1.055.916-2.276 1.813-3.436.362.52.963.859 1.643.859h5a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-5a2 2 0 0 0-1.883 1.324 6.61 6.61 0 0 1-.082-.026c-.262-.086-.513-.182-.802-.292-.17-.065-.353-.135-.56-.21C11.613 3.406 10.288 3 8.5 3c-1.67 0-4.149.561-5.394 3.053C1.394 9.477 1 12.706 1 14c0 2.141 1.391 4.514 4 4.514h1.602c-.335 1.234-.444 2.524-.13 3.647.223.805.67 1.542 1.412 2.067.734.52 1.669.772 2.765.772ZM14 6.367a7.392 7.392 0 0 1-.587-.168c-.303-.1-.635-.226-.957-.348l-.471-.178C11.032 5.323 9.957 5 8.5 5c-1.33 0-2.851.439-3.606 1.947C3.335 10.065 3 12.983 3 14c0 1.488.899 2.514 2 2.514h4.497l-.573 1.382c-.59 1.425-.785 2.797-.526 3.729.122.438.336.755.643.972.225.16.548.299 1.008.364l.003-.011.078-.286c.124-.454.29-1.067.525-1.742.55-1.58 1.501-3.608 3.345-5.362V6.367ZM21 17h-5V5h5v12Z" clip-rule="evenodd"></path></svg>
        <span class="dislike-count">{{ comment.meta.dislike_count|default(0) }}</span>
      </button>
    </div>
  </div>

  {# Если есть ответы (custom_children), выводим их рекурсивно #}
  {# {% if comment.custom_children is defined and comment.custom_children|length %}
    <div class="c-comments__children">
      {% for child in comment.custom_children %}
        {% include 'comment.twig' with { comment: child } %}
      {% endfor %}
    </div>
  {% endif %} #}
{# </div> #}
{# <div class="c-comments__user is-{{comment.comment_type}}" id="comment-{{ comment.comment_ID }}">
  {% if starts %}
    <div class="c-comments__user-rating">
      <div class="star-rating" role="img">
        <span style="width:{{(rating / 5) * 100}}%">
        </span>
      </div>
    </div>
  {% endif %}
  <div class="c-comments__user-content">
    <div class="c-comments__name">
      <span class="c-name">{{comment.comment_author}}</span>
      <span class="c-time">
        {{ comment.comment_date|date("m/d/Y") }}
      </span>
    </div>
    <div class="c-comments__text">{{comment.comment_content|wpautop}}</div>
    <a href="#" class="reply-link" data-comment-id="{{ comment.comment_ID }}">{{ 'Reply'|translateString('Comments - Reply') }}</a>
    <div class="c-comments__user-actions">
      <button class="like-btn" data-comment-id="{{ comment.comment_ID }}" data-action="like">
        👍 <span class="like-count">{{ comment.meta.like_count|default(0) }}</span>
      </button>
      <button class="dislike-btn" data-comment-id="{{ comment.comment_ID }}" data-action="dislike">
        👎 <span class="dislike-count">{{ comment.meta.dislike_count|default(0) }}</span>
      </button>
    </div>

    {% if comment.children %}
      {% for child_comment in comment.children %}
        <div class="c-comments__user {{comment.comment_type}}">
          <div class="c-comments__name"> 
            <span class="c-time">
              {{ comment.comment_date|date("m/d/Y") }}
            </span>
            <span class="c-name">{{comment.comment_author}}</span>
            <div class="c-comments__text">{{comment.comment_content|wpautop}}</div>  
              {% include 'comment.twig' with { comment:child_comment } %} 
          </div>
        </div>  
      {% endfor %}
    {% endif %} 
  </div>
</div> #}

