<footer class="l-footer">
  <div class="u-container">
    <p class="l-footer__top">{{ 'We believe in the power of nature and its ability to improve our lives. Dive into the world of harmony with us.' | translateString('Footer - text') }}</p>
    <div class="l-footer__center">
      <div class="u-col is-first">
        <h4 class="u-h4">{{ 'Contact Us' | translateString('Footer - Contact us') }}</h4>
        <p>{{ options.social.location }}</p>
        <a href="mailto:{{ options.social.mail }}" class="is-mail">{{ options.social.mail }}</a>
        <a class="u-btn is-blur" href="tel:{{ options.social.phone|replace({' ': ''}) }}">{{ options.social.phone }}</a>
      </div>
      <div class="u-col is-second">
        <h4 class="u-h4">{{ 'Learn more' | translateString('Footer - Learn more') }}</h4>
        {% include 'templates/menu.twig' with {'menu': footer_menu.get_items} %}
      </div>
      <div class="u-col is-fourth">
        <h4 class="u-h4">{{ 'Join Our Newsletter' | translateString('Footer - Join Our Newsletter') }}</h4>
        <form class="c-subscribe">
          <input type="text" placeholder="Enter Your Email">
          <button type="submit" class="u-btn is-black">{{ 'Subscribe now' | translateString('Button - Subscribe now') }}</button>
        </form>
        <p>*{{ 'You may withdraw your consent at any time!' | translateString('Footer - noties under subscribe') }}</p>
        {% include 'templates/partial/social.twig' with {'share': false} %}
      </div>  
    </div>
    <div class="l-footer__bottom">
      <p class="c-copyright">Copyright © 2024  <span class="is-yellow">Fungi Harmony.</span></p>
    </div>
  </div>
</footer> 