<footer class="l-footer lazy" data-bg="{{theme.link}}/src/img/Footer.webp">
  <div class="u-container">
    <p class="l-footer__top">{{ 'We believe in the power of nature and its ability to improve our lives. Dive into the world of harmony with us.' | translateString('Footer - text') }}</p>
    <div class="l-footer__center">
      <div class="u-col is-first">
        <h4 class="u-h4">{{ 'Contact Us' | translateString('Footer - Contact Us') }}</h4>
        <p>{{ options.social.location }}</p>
        <a href="mailto:{{ options.social.mail }}" class="is-mail">{{ options.social.mail }}</a>
        <a class="u-btn is-blur" href="tel:{{ options.social.phone|replace({' ': ''}) }}">{{ options.social.phone }}</a>
        {% include 'templates/partial/social.twig' with {'share': false} %}
        
      </div>
      <div class="u-col is-second">
        <h4 class="u-h4">{{ 'Learn more' | translateString('Footer - Learn more') }}</h4>
        {% include 'templates/menu.twig' with {'menu': footer_menu.get_items} %}
      </div>
      <div class="u-col is-fourth">
        <h4 class="u-h4">{{ 'Join Our Newsletter' | translateString('Footer - Join Our Newsletter') }}</h4>
        <form class="c-subscribe">
          <input type="text" placeholder="Enter Your Email">
          <button type="submit" class="u-btn is-black">{{ 'Subscribe now' | translateString('Button - Subscribe now') }}</button>
        </form>
        <p>*{{ 'You may withdraw your consent at any time!' | translateString('Footer - noties under subscribe') }}</p>
        <div class="c-attention">
          {% if current_lang == 'ru' %}
            <span class="is-red">Внимание!</span>  Мы не продаем и не продвигаем наркотики или незаконные вещества. Вся продукция, представленная на сайте, не содержит наркотических веществ, не вызывает зависимости и не является лекарственным средством.
          {% elseif current_lang == 'uk' %}
            <span class="is-red">Увага!</span>  Ми не продаємо і не просуваємо наркотики чи незаконні речовини. Уся продукція, представлена на сайті, не містить наркотичних речовин, не викликає залежності та не є лікарським засобом.
          {% else %}
            <span class="is-red">Attention!</span> We do not sell or promote drugs or illegal substances. All products presented on the website do not contain narcotic substances, do not cause addiction, and are not medicinal products.
          {% endif %}
        </div>

      </div>  
    </div>
    <div class="l-footer__bottom">
      <p class="c-copyright">Copyright © {{ 'now' | date('Y') }}  <span class="is-yellow">Fungi Harmony.</span></p>
    </div>
  </div>
</footer> 