{% extends 'templates/base.twig' %}
{% block content %}

  <main class="p-reviews">
    <div class="u-container">
      {{ breadcrumbs }}

      <section class="l-shop">
        <div class="l-shop__ordering">
          <h1 class="u-h2">{{ post.post_title }}</h1>
        </div>
      </section>

      <section class="l-reviews">
        <div class="row">
          {% for review in reviews %}
            <div class="col-lg-4">
              <div class="c-reviews" itemscope itemtype="https://schema.org/Review">
                <div class="star-rating" role="img">
                  <span style="width:{{ (review.rating / 5) * 100 }}%"></span>
                </div>
                <a href="{{ review.product_link }}" class="u-h6" itemprop="itemReviewed">{{ review.product_title }}</a>
                <p itemprop="reviewBody">{{ review.comment_content }}</p>

                <div class="c-reviews__user">
                  <div class="c-reviews__user-img">
                    <img
                      class="lazy"
                      src="data:image/png;base64,TEVITGhbV0IyeWs4cHlvSmFkUiouN2tDTWRuag=="
                      data-src="{{ theme.link }}/src/img/user.jpg"
                      alt="user icon"
                    >
                  </div>
                  <div class="c-reviews__user-name" itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{ review.comment_author }}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

      {# JSON-LD микроразметка #}
      {# {% if json_ld %}
        <script type="application/ld+json">
          {{ json_ld|raw }}
        </script>
      {% endif %} #}

    </div>
  </main>

{% endblock %}
