<div class="c-icon-text">
	<div class="c-icon-text__img">
		<img data-src="{{img}}" alt="{{title}}" width="56" height="56" class="lazy">
	</div>
	<div class="c-icon-text__content">
		<div class="c-icon-text__title">{{title}}</div>
		<div class="c-icon-text__text">{{text}}</div>
		{% if link %}
			<a href="{{link}}" class="u-read-more is-black">
				<span class="u-read-more__icon">
					<svg width="16px" height="16px">
						<use xlink:href="#icon-arrow-right"></use>
					</svg>
				</span>
				{{ 'Learn More' | translateString('buttons - Learn More') }}
			</a>
		{% endif %}
	</div>
</div>