<aside class="l-sidebar">
  {% if search %}
    <div class="l-sidebar__block">
      {% include 'templates/search-form.twig' %}
    </div>
  {% endif %}
  {% if category %}
    <div class="l-sidebar__block">
      <h3 class="l-sidebar__block-title">{{ 'Blog Category' | translateString('Sidebar - category title') }}</h3>
      <nav class="l-sidebar__block-content">
        {% for cat in category %}
          <a href="{{cat.link}}" class="c-category">
            <span>{{cat.name}}</span>
            <span class="c-category__count">{{cat.count}}</span>
          </a>
        {% endfor %}
      </nav>
    </div>
  {% endif %}
  {% if product_tags %}
    <div class="l-sidebar__block">
      <h3 class="l-sidebar__block-title">{{ 'Shop by Health Goal' | translateString('Sidebar - tags title') }}</h3>
      <nav class="l-sidebar__block-content">
        {% for tag in product_tags %}
          <a href="{{tag.link}}" class="c-tag">
            {% if tag.img %}
              <img src="{{tag.img}}">
            {% else %}
              <svg width="100%" height="18px">
                <use xlink:href="#icon-brain"></use>
              </svg>
            {% endif %}
            <span>{{tag.name}}</span>
          </a>
        {% endfor %}
      </nav>
    </div>
  {% endif %}
  {% if popular_products %}
    <div class="l-sidebar__block">
      <h3 class="l-sidebar__block-title">{{ 'Related products' | translateString('Sidebar - products title') }}</h3>
      <div class="l-sidebar__block-content">
        {% for product in popular_products %}
          <a href="{{product.link}}" class="c-product-small">
            {% if product.thumb_sm %}
             <div class="c-product-small__img">
                <img src="{{product.thumb_sm.url}}" alt="" width="106" height="106">
              </div>
            {% endif %}
            <div class="c-product-small__content">
              <h4 class="c-product-small__title">{{product.title}}</h4>
              {% if product.rating > 0 %}
                <div class="star-rating" role="img">
                  <span style="width:{{(product.rating / 5) * 100}}%">
                  </span>
                </div>
              {% endif %}
              <div class="c-price">{{product.price}}</div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if popular_posts %}
    <div class="l-sidebar__block">
      <h3 class="l-sidebar__block-title">{{ 'Popular Post' | translateString('Sidebar - posts title') }}</h3>
      <div class="l-sidebar__block-content">
      {% for post in popular_posts %}
        <div class="c-post-small">
          {% if post.thumb_sm %}
            <a href="{{post.permalink}}" class="c-post-small__img">
              <img src="{{post.thumb_sm.url}}" alt="" width="106" height="106">
            </a>
          {% endif %}
          <div class="c-post-small__content">
            <a href="{{post.permalink}}" class="c-post-small__title">{{post.title}}</a>
            <span class="c-post-small__date">{{post.date}}</span>
            <a href="{{post.author_link}}" class="c-post-small__author">{{post.author_name}}</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if pages %}
    <div class="l-sidebar__block">
      <h3 class="l-sidebar__block-title">{{ 'Related pages' | translateString('Sidebar - pages title') }}</h3>
      <div class="l-sidebar__block-content">
      {% for page in pages %}
        <div class="c-post-small">
          {% if page.thumb_sm %}
            <a href="{{page.permalink}}" class="c-post-small__img">
              <img src="{{page.thumb_sm.url}}" alt="" width="106" height="106">
            </a>
          {% endif %}
          <div class="c-post-small__content">
            <a href="{{page.permalink}}" class="c-post-small__title">{{page.title}}</a>
            <p class="c-post-small__text">{{page.excerpt|slice(0, 55) ~ '...'}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
</aside>